#shineBoxBottom {
    width: 5px;
    height: 310px;
    background-color: white;
    border-radius: 5px;
    margin-top: 155px;
    position: fixed;
    z-index: 12;
}
#ss {
    width: 40px;
    height: 40px;
    position: fixed;
    background: rgba(0,0,0,0);
    margin-left: 100px;
    margin-top: 100px;
    border-top-right-radius: 40px;
    z-index: 13;
    border-top: 10px solid white;
    border-right: 5px solid white;   
}
